<!-- MODAL -->
<div class="modal fade" id="Modal_Galeria" style="background-color: black;" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" background="black">
    <div class="modal-dialog modal-lg " role="document">
      <div class="modal-content" style="background: black;">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        </div>
        <div class="modal-body">
            <!-- Nosotros Section -->
<section  id="nosotros" style="background: black;">
    <div class="container">
        <div class="col-md-18">
          <div style="background: black;" class="card flex-md-row mb-4 box-shadow h-md-250">
            <div class="card-body d-flex flex-column align-items-start">
              <h3 class="mb-0 divbold" style="color: white;text-align: center;width: 100%; font-size:40px;">
              ¿QUIENES SOMOS?
              </h3>
              <p></p>
              <p></p>
             <div style="color: white;text-align: justify;width: 100%; font-size: 18px;">
              <strong class="divbold">PRO-INK Proyectos Integrales Kaleida, </strong> con más de 30 años en el medio.
                Estamos enfocados a resolver de manera integral las necesidades de publicidad
                que usted o su negocio requiere. La versatilidad que nos ofrece el mundo de
                las artes gráficas nos brinda la oportunidad de ofrecerle un servicio de primera
                calidad, en un tiempo muy corto de producción con los mejores precios del mercado.
               <p></p>
                Utilizamos, además, siempre los materiales, sistemas y recursos más adecuados.
                <p></p>
                El <strong class="divbold">compromiso, entusiasmo y calidad</strong> son bases esenciales de nuestra empresa.
                Esto lo podrá comprobar con nuestro trabajo enérgico y exigente. Le ofrecemos un
                trato sencillo y siempre de propuesta, involucrándonos de lleno en sus proyectos
                para trascender en su éxito.
                <p></p>
                Contamos con áreas y equipos de trabajo propios, lo
                que nos permite ofrecerle de manera directa e independiente nuestros servicios,
                haciendo más breves los tiempos de entrega y otorgando mejores costos para beneficio
                de nuestros clientes.
                <p></p>
                Nuestro personal está capacitado y tiene la experiencia para
                resolver cualquier inquietud publicitaria, gráfica, técnico-productiva, siempre
                gustosos de darle el asesoramiento que usted requiera.
                <p></p>Con excelente atención,
                más el respaldo de las mejores marcas en equipos y materiales, y un amplio abanico
                 de servicios, superamos los cánones que cualquier otra empresa similar podría
                 otorgarle.
                
              </div>
            </div>
          
            <img class="card-img-right flex-auto d-none d-md-block" src="./assets/img/nosotros/banner_2.png" alt="" width="50%" height="50%">
          </div>
        </div>
  
    
        
    </div>
  
  <!-- CMYKW_M -->
  <div id="colors">
    
  <div class="row" style="background:black;">
    <div class="col-xs-6 col-md-3" >
      <a href="#" class="thumbnail">
        <img data-src="holder.js/100%x20" style="height: 20px;width: 100%;display: block;background-color: #3e8ec7;" data-holder-rendered="true">
      </a>
    </div>
    <div class="col-xs-6 col-md-3">
      <a href="#" class="thumbnail">
        <img data-src="holder.js/100%x20" style="height: 20px;width: 100%;display: block;background-color: #aa0074;" data-holder-rendered="true">
      </a>
    </div>
    <div class="col-xs-6 col-md-3">
      <a href="#" class="thumbnail">
        <img data-src="holder.js/100%x0" style="height: 20px;width: 100%;display: block;background-color: #f0e229;" data-holder-rendered="true">
      </a>
    </div>
    <div class="col-xs-6 col-md-3">
      <a href="#" class="thumbnail">
        <img data-src="holder.js/100%x20" style="height: 20px;width: 100%;display: block;background-color: white;" data-holder-rendered="true">
      </a>
    </div>
  </div>
  </div>
  <p></p>
  
  <!-- Nuestra Esencia -->
  <div class="row" style="background:black;">
  <div class="col-md-12" >
    <p></p>
    <p style="color: white;text-align: center; font-size: 40px;" class="divbold"  >Nuestra Esencia </p>
  </div>
  </div>
  
  <!-- Nuestra Esencia img -->
  <div class="container h-100" >
    <img src="./assets/img/nosotros/mvv.png" alt="" width="100%" height="">
  </div>
    
  <!-- CMYKW_M -->
  <div id="colors">
    
  <div class="row" style="background:black;">
    <div class="col-xs-6 col-md-3" >
      <a href="#" class="thumbnail">
        <img data-src="holder.js/100%x20" style="height: 20px;width: 100%;display: block;background-color: #3e8ec7;" data-holder-rendered="true">
      </a>
    </div>
    <div class="col-xs-6 col-md-3">
      <a href="#" class="thumbnail">
        <img data-src="holder.js/100%x20" style="height: 20px;width: 100%;display: block;background-color: #aa0074;" data-holder-rendered="true">
      </a>
    </div>
    <div class="col-xs-6 col-md-3">
      <a href="#" class="thumbnail">
        <img data-src="holder.js/100%x0" style="height: 20px;width: 100%;display: block;background-color: #f0e229;" data-holder-rendered="true">
      </a>
    </div>
    <div class="col-xs-6 col-md-3">
      <a href="#" class="thumbnail">
        <img data-src="holder.js/100%x20" style="height: 20px;width: 100%;display: block;background-color: white;" data-holder-rendered="true">
      </a>
    </div>
  </div>
  </div>
  </section>
  
    
      </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div>
  <!-- /.modal -->
  
  
   