<app-app-progress-mask [showProgress]="showMask"></app-app-progress-mask>
<!-- Contact Section -->
<section class="page-section" id="contact" >
    <div class="container">
      <div class="container contact">
        <div class="row">
         
       

      <!-- Permitenos darte la atención que mereces -->
  <div class="row" style="background:black;">
    <div class="col-md-12" >
      <p style="color: white;text-align: center; font-size: 40px;"> Permitenos darte la atención que mereces, llenando el siguiente formulario. </p>
    </div>
    <p></p>
  </div>
         

      <!-- Formulario -->
          <div class="col-md-6">
            <form id="login-form" #lForm="ngForm" [formGroup]="loginForm" (ngSubmit)="submitLogin()" >
            
              <div class="form-group">
                <div class="col-sm-10">          
                <input type="text" class="form-control" id="name" placeholder="Ingrese Nombre" name="name" formControlName="name" [ngClass]="{ 'is-invalid':f.name.errors }">
                <div *ngIf="f.name.errors" class="invalid-feedback">
                    <div *ngIf="f.name.errors.required">*Nombre requerido.</div>
                </div>    
            </div>
                
              </div>
              

              <div class="form-group">
                <div class="col-sm-10">
                <input type="email" class="form-control" id="email" placeholder="Ingrese Correo" name="email" formControlName="email" [ngClass]="{ 'is-invalid': f.email.errors }">
                <div *ngIf="f.email.errors" class="invalid-feedback">
                    <div *ngIf="f.email.errors.required">*Correo requerido.</div>
                    <div *ngIf="f.email.errors.email">Correo inválido.</div>
                </div>    
            </div>
              </div>

              <div class="form-group">
                <div class="col-sm-10">          
                <input type="text" class="form-control" id="asunto" placeholder="Ingrese Asunto" name="asunto" formControlName="asunto" [ngClass]="{ 'is-invalid': f.asunto.errors }">
                <div *ngIf="f.asunto.errors" class="invalid-feedback">
                  <div *ngIf="f.asunto.errors.required">*Asunto requerido.</div>
                </div>  
                </div>
              </div>

              <div class="form-group">
                <div class="col-sm-10">          
                <input type="text" class="form-control" id="tel" placeholder="Ingrese Teléfono" name="tel" formControlName="tel" [ngClass]="{ 'is-invalid': f.tel.errors }">
                <div *ngIf="f.tel.errors" class="invalid-feedback">
                  <div *ngIf="f.tel.errors.required">*Telefono requerido.</div>
                </div>    
              </div>
              </div>
            
              <div class="form-group">
                <div class="col-sm-10">
                <textarea class="form-control" rows="5" id="comment" formControlName="comment"></textarea>
                </div>
              </div>
              <div class="form-group">        
                <div class="col-sm-offset-2 col-sm-10">
                <button  class="btn btn-light"  form="login-form"  [disabled]="!loginForm.valid" >Enviar</button>
                </div>
              </div>
           
              
            </form>
          </div>

      <!-- Contacto / Imagen  -->
      <div class="col-md-6">
  
        <img src="./assets/img/contacto/img_contacto.png" style="width: 100%;" />
      
      </div>

        <!-- Redes Sociales  -->

        <div class="col-md-3" >
          <div class="row">
            <a href="https://api.whatsapp.com/send?phone=525535665694" target="_blank"> <img class="img-fluid" src="../assets/img/contacto/app_whatsa.png"  alt=""/> </a>
            <a href="https://www.instagram.com/kaleidamx" target="_blank"> <img class="img-fluid" src="../assets/img/contacto/app_instagram.png"  alt=""/> </a>
            <a href="https://www.facebook.com/kaleidamx" target="_blank"> <img class="img-fluid" src="../assets/img/contacto/app_facebook.png"  alt=""/> </a>
            <a href="https://www.twitter.com/kaleidamx" target="_blank"> <img class="img-fluid" src="../assets/img/contacto/app_twitter.png"  alt=""/> </a>
            <a href="https://www..com/kaleidamx" target="_blank"> <img class="img-fluid" src="../assets/img/contacto/app_youtobe.png"  alt=""/> </a>
          </div>
        </div>

      <!-- Mapa -->
          <div class="col-md-9">
            <div class="mapouter">
              <div class="gmap_canvas">
                <iframe width="100%" height="500" id="gmap_canvas" src="https://maps.google.com/maps?q=Proyectos%20Integrales%20Kaleida&t=&z=19&ie=UTF8&iwloc=&output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0">
                </iframe><a href="https://embedgooglemap.net/mapv2/">
                </a></div><style>.mapouter{position:relative;text-align:right;height:500px;width:100%;}.gmap_canvas {overflow:hidden;background:none!important;height:500px;width:100%;}</style></div>         
          </div>

          <!-- Contactanos  -->

        <div class="col-md-12" style="text-align: right;">
         <div class="row">
         
          
            <div class="col-md-4" id="divllamar">
              <a (click)="llamar()">
              <img class="img-fluid" src="../assets/img/contacto/comunicate.png"  alt="">
              </a>
            </div>

            <div class="col-md-4" id="divMail">
              
              <a (click)="mailMe()">
                <img class="img-fluid" src="../assets/img/contacto/escribenos.png"  alt="">
              </a>
           </div>

           <div class="col-md-4" id="divMap">
                <img class="img-fluid" data-toggle="modal" data-target="#Modal_Mapa" src="../assets/img/contacto/visitanos.png"  alt="">
              </div>
          </div>
        </div>
    
          </div>
      </div>
    </div>
  </section>
