 
<!-- MODAL -->
<div class="modal fade" style="background:black;" id="Modal_Inmobi" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" background="black">
  <div class="modal-dialog modal-lg " style="background:black;" role="document">
    <div class="modal-content">
      <div class="modal-header" style="background:black;">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      </div>
      <div class="modal-body" style="background:black;">

 
 <!-- Sector Inmobiliario -->

<!-- Especialistas en el sector Inmobiliario -->
<div class="row" style="background:black;">
    <div>
      <p></p>
      <p style="color: white;text-align: center; font-size: 40px;" >Especialistas en servicios para el <strong class="divbold">Sector Inmobiliario.</strong></p>
      <p> <p></p>
  <!--
      <div class="container: center;"  >
        <div>
          <div class="col-xs-12 col-md-12">
          </div>
        </div>
      </div>
      -->

            <div class="row h-60 align-items-center justify-content-center text-center">
              <div class="col-lg-11 align-self-end">
            <p  class="text-white" style="color: white;text-align: justify; font-size: 22px;">Con mucho éxito hemos colaborado desde nuestros inicios con empresas relacionadas al sector inmobiliario contribuyendo en su estrategia comercial,
              cubriendo con nuestros servicios sus diferentes necesidades de comunicación y publicidad, entendemos sus tiempo de trabajo y nuestro compromiso para tener preparadas y presentables las áreas de venta y contacto
              con el cliente. Desde el desarrollo de la identidad corporativa, carpeta de ventas, promocionales, publicación en redes sociales y toda la publicidad exterior que requiere para que
              los clientes lleguen hasta sus agentes de venta.</p>
            </div>
            </div>
               
    </div>
   </div>

<!-- Diseño / Impresión / Fabricación / Instalación-->
<div  class="row" style="background:black;">
  <div class="col-xs-6 col-md-3" >
    <div style=" color:#3f98d6 ;text-align: left; font-size: 24px;" class="divbold">Diseño Integral</div>
    <ul>
      <li style="color:white ;text-align: left; font-size: 20px;">Identidad corporativa</li>
      <li style="color:white ;text-align: left; font-size: 20px;">Carpeta de ventas</li>
      <li style="color:white ;text-align: left; font-size: 20px;">Caseta de ventas</li>
      <li style="color:white ;text-align: left; font-size: 20px;"> Papelería</li>
      <li style="color:white ;text-align: left; font-size: 20px;"> Material exterior</li>
      <li style="color:white ;text-align: left; font-size: 20px;">Señalética</li>
</ul>
  </div>
  <div class="col-xs-6 col-md-3">
    <div style="color:#b8147d ;text-align: left; font-size: 24px;" class="divbold">Impresión</div>
    <ul>
      <li style="color:white ;text-align: left; font-size: 20px;">Lona, vinil, microperforad</li>
      <li style="color:white ;text-align: left; font-size: 20px;">Letreros de corretaje</li>
      <li style="color:white ;text-align: left; font-size: 20px;">Volates, Dípticos, Trípticos</li>
      <li style="color:white ;text-align: left; font-size: 20px;">Tarjetas, Folders, Brochures</li>
      <li style="color:white ;text-align: left; font-size: 20px;">Gallardetes y Banderola</li>
      <li style="color:white ;text-align: left; font-size: 20px;">Promocionales</li>
</ul>
  </div>
  <div class="col-xs-6 col-md-3">
    <div style="color:#f9e925 ;text-align: left; font-size: 24px;" class="divbold" >Fabricación</div>
    <ul>
      <li style="color:white ;text-align: left; font-size: 20px;">Tapial de obra y contención</li>
      <li style="color:white ;text-align: left; font-size: 20px;">Caballetes y Cartelera</li>
      <li style="color:white ;text-align: left; font-size: 20px;">Escenografía de área de ventas</li>
      <li style="color:white ;text-align: left; font-size: 20px;">Rotulación de Camper</li>
      <li style="color:white ;text-align: left; font-size: 20px;">Asta banderas y Estructuras F</li>
      <li style="color:white ;text-align: left; font-size: 20px;">Anuncios oficiales y señalética </li>
</ul>
  </div>
  <div class="col-xs-6 col-md-3">
    <div style="color:white ;text-align: left; font-size: 24px;" class="divbold">Instalación</div>
    <ul>
      <li style="color:white ;text-align: left; font-size: 20px;">Lonas en altura, balcón, muro o grúa</li>
      <li style="color:white ;text-align: left; font-size: 20px;">Colocación de vinil o lona en tapial</li>
      <li style="color:white ;text-align: left; font-size: 20px;">Banderola y Gallardetes</li>
      <li style="color:white ;text-align: left; font-size: 20px;">Todo tipo de estructuras fabricadas</li>
      <li style="color:white ;text-align: left; font-size: 20px;">Escenografía de ventasF</li>
      <li style="color:white ;text-align: left; font-size: 20px;">Señalética interna y oficial  </li>
 </ul>
  </div>
</div>

<!-- Galería -->
<div  style="background:black;" class="container">
  <hr class="">
    <div class="row">
      <div class="col-xs-6 col-md-3" >
          <img data-src="holder.js/100%x180" alt="100%x180" style="height: 180px; width: 100%; display: block;" src="./assets/img/Inicio/Galeria/g_diseño.jpg" data-holder-rendered="true">
      </div>
      <div class="col-xs-6 col-md-3">
          <img data-src="holder.js/100%x180" alt="100%x180" src="./assets/img/Inmobiliaria/Galeria/g_impresion.jpg" data-holder-rendered="true" style="height: 180px; width: 100%; display: block;">
      </div>
      <div class="col-xs-6 col-md-3">
          <img data-src="holder.js/100%x180" alt="100%x180" src="./assets/img/Inmobiliaria/Galeria/g_corte.jpg" data-holder-rendered="true" style="height: 180px; width: 100%; display: block;">
      </div>
      <div class="col-xs-6 col-md-3">
          <img data-src="holder.js/100%x180" alt="100%x180" src="./assets/img/Inmobiliaria/Galeria/g_herreria.jpg" data-holder-rendered="true" style="height: 180px; width: 100%; display: block;">
      </div>
  </div>
  <div class="row">
    <div class="col-xs-6 col-md-3">
        <img data-src="holder.js/100%x180" alt="100%x180" style="height: 180px; width: 100%; display: block;" src="./assets/img/Inicio/Galeria/g_serigrafia.jpg" data-holder-rendered="true">
    </div>
    <div class="col-xs-6 col-md-3">
        <img data-src="holder.js/100%x180" alt="100%x180" src="./assets/img/Inmobiliaria/Galeria/g_instalacion.jpg" data-holder-rendered="true" style="height: 180px; width: 100%; display: block;">
    </div>
    <div class="col-xs-6 col-md-3">
        <img data-src="holder.js/100%x180" alt="100%x180" src="./assets/img/Inmobiliaria/Galeria/g_offset.jpg" data-holder-rendered="true" style="height: 180px; width: 100%; display: block;">
    </div>
    <div class="col-xs-6 col-md-3">
        <img data-src="holder.js/100%x180" alt="100%x180" src="./assets/img/Inmobiliaria/Galeria/g_displays.jpg" data-holder-rendered="true" style="height: 180px; width: 100%; display: block;">
    </div>
</div>
<div class="row" >
  <div class="col-xs-6 col-md-3">
      <img data-src="holder.js/100%x180" alt="100%x180" style="height: 180px; width: 100%; display: block;" src="./assets/img/Inicio/Galeria/g_instalacion.jpg" data-holder-rendered="true">
  </div>
  <div class="col-xs-6 col-md-3">
      <img data-src="holder.js/100%x180" alt="100%x180" src="./assets/img/Inmobiliaria/Galeria/g_digital.jpg" data-holder-rendered="true" style="height: 180px; width: 100%; display: block;">
  </div>
  <div class="col-xs-6 col-md-3">
      <img data-src="holder.js/100%x180" alt="100%x180" src="./assets/img/Inmobiliaria/Galeria/g_stands.jpg" data-holder-rendered="true" style="height: 180px; width: 100%; display: block;">
  </div>
  <div class="col-xs-6 col-md-3">
      <img data-src="holder.js/100%x180" alt="100%x180" src="./assets/img/Inmobiliaria/Galeria/g_cnc.jpg" data-holder-rendered="true" style="height: 180px; width: 100%; display: block;">
  </div>
</div>
</div>


</div>
</div><!-- /.modal-content -->
</div><!-- /.modal-dialog -->
</div>
<!-- /.modal -->