<app-nosotros></app-nosotros>
<app-service></app-service>
<app-diseno-grafico></app-diseno-grafico>
<app-impresion-digital></app-impresion-digital>
<app-corte-vinil></app-corte-vinil>
<app-herreria></app-herreria>
<app-serigrafia></app-serigrafia>
<app-serv-laminado></app-serv-laminado>
<app-offset></app-offset>
<app-displays></app-displays>
<app-instalacion></app-instalacion>
<app-serv-digitales></app-serv-digitales>
<app-stands></app-stands>
<app-cnc></app-cnc>

<app-contact></app-contact>
<router-outlet></router-outlet>
<app-galeria></app-galeria>
<app-inmobiliario></app-inmobiliario>
<app-mapa></app-mapa>
