
<!-- MODAL -->
<div class="modal fade" id="Modal_Displays" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" background="black">
    <div class="modal-dialog modal-lg " role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        </div>
        <div class="modal-body">
  
  
       <!-- DISPLAYS/IMG 
    <div  background="black">
      <div class="row h-100 align-items-center justify-content-center text-center">
        <div class="col-lg-10 align-self-end">
          <img src="./assets/img/areas/k_diseño.png" width="100%">
        </div>
      </div>
     </div>
    
     <p></p> -->
  
       <!-- CARRUSEL -->
  
          <div id="carouselDisplays" class="carousel slide" data-ride="carousel">
              <ol class="carousel-indicators">
                <li data-target="#carouselDisplays" data-slide-to="0" class="active"></li>
                <li data-target="#carouselDisplays" data-slide-to="1"></li>
                <li data-target="#carouselDisplays" data-slide-to="2"></li>
                <li data-target="#carouselDisplays" data-slide-to="3"></li>
                <li data-target="#carouselDisplays" data-slide-to="4"></li>
                <li data-target="#carouselDisplays" data-slide-to="5"></li>
              </ol>
              <div class="carousel-inner">
                <div class="carousel-item active">
                  <img src="../../assets/img/diseño grafico/1.jpeg" class="d-block w-100 carousel-fill" alt="...">
                </div>
                <div class="carousel-item">
                  <img src="../../assets/img/diseño grafico/2.jpeg" class="d-block w-100 carousel-fill" alt="...">
                </div>
                <div class="carousel-item">
                  <img src="../../assets/img/diseño grafico/3.jpeg" class="d-block w-100 carousel-fill" alt="...">
                </div>
                <div class="carousel-item">
                  <img src="../../assets/img/diseño grafico/4.jpeg" class="d-block w-100 carousel-fill" alt="...">
                </div>
                <div class="carousel-item">
                  <img src="../../assets/img/diseño grafico/5.jpeg" class="d-block w-100 carousel-fill" alt="...">
                </div>
                <div class="carousel-item">
                  <img src="../../assets/img/diseño grafico/6.jpeg" class="d-block w-100 carousel-fill" alt="...">
                </div>
              </div>
              <a class="carousel-control-prev" href="#carouselDisplays" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
              </a>
              <a class="carousel-control-next" href="#carouselDisplays" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
              </a>
            </div>
  
       <!--DISPLAYS TEXT -->
    <div class="row" style="background:black;">
      <div>
        <div class="container" style="text-align: center;"  >
          <div>
            <div class="row h-60 align-items-center justify-content-center text-center">
              <div class="col-lg-11 align-self-end">
                <p  class="text-white" style="color: white;text-align: justify; font-size: 18px;">Los displays son estructuras prefabricadas que ofrecen uniformidad para las campañas. Nos
                  enfocamos en ofrecer y mantenernos al tanto de los sistemas innovadores y de más alta calidad para acompañar la presencia de su marca. ¿Necesita algo a la medida? Le ofrecemos también la opción de fabricarlo. </p>
             </div>
            </div>   
          </div>
        </div>
       </div>
       </div>
  
       
    <!-- X BANNER / FLAG BAG / SEÑALIZACIÓN INTEGRAL--> 
    <div class="row" style="background:black;">
      <div class="col-xs-6 col-md-4">
        <ul>
          <li style="color:#fefefe ;text-align: left; font-size: 16px;"> <strong class="divbold"> X-banner y Roll Up </strong></li>
          <li style="color:#fefefe ;text-align: left; font-size: 16px;"> <strong class="divbold"> Muro Pop Up </strong></li>
          <li style="color:#fefefe ;text-align: left; font-size: 16px;"> <strong class="divbold"> Back pack banner </strong></li>
          <li style="color:#fefefe ;text-align: left; font-size: 16px;"> <strong class="divbold"> Counter Desk </strong></li>
          <li style="color:#fefefe ;text-align: left; font-size: 16px;"> <strong class="divbold"> Demostand </strong></li>
        </ul>
        </div>
      <div class="col-xs-6 col-md-4">
        <ul>
          <li style="color:#fefefe ;text-align: left; font-size: 16px;"> <strong class="divbold"> Flag Banner </strong></li>
          <li style="color:#fefefe ;text-align: left; font-size: 16px;"> <strong class="divbold"> Panel Board </strong></li>
          <li style="color:#fefefe ;text-align: left; font-size: 16px;"> <strong class="divbold"> Pop Up banner </strong></li>
          <li style="color:#fefefe ;text-align: left; font-size: 16px;"> <strong class="divbold"> Carpas </strong></li>
          <li style="color:#fefefe ;text-align: left; font-size: 16px;"> <strong class="divbold"> Sky Dancer </strong></li>
         </ul>
      </div>
      <div class="col-xs-6 col-md-4">
        <ul>
          <li style="color:#fefefe ;text-align: left; font-size: 16px;"> <strong class="divbold"> Señalización Integral </strong></li>
          <li style="color:#fefefe ;text-align: left; font-size: 16px;"> <strong class="divbold"> Sistema con Chapetones </strong></li>
          <li style="color:#fefefe ;text-align: left; font-size: 16px;"> <strong class="divbold"> Monolito Comercial </strong></li>
          <li style="color:#fefefe ;text-align: left; font-size: 16px;"> <strong class="divbold"> Directorios </strong></li>
        </ul>
      </div>
    
    </div>
  
      </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div>
  <!-- /.modal -->
  